.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.nav p {
  margin: 0;
  padding-left: .5rem;
}
.nav input {
  width: 100%;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  border: 1px solid var(--color-border);
}
.nav input:focus {
  outline: none;
  border: 1px solid #62A2E4;
}
.nav-button-wrap {
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-button-wrap button {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  text-align: left;
  padding: .25rem 1rem;
  background: none;
  cursor: pointer;
}
.nav-button-wrap img {
  height: 1rem;
  padding-right: .25rem;
}
.nav-button-wrap button:focus {
  outline: none;
}
.nav-button-wrap > .active {
  background: #d9d9d9;
}
.realm-info {
  padding: 1rem;
  border-top: 3px solid var(--color-bg);
}
.nav-handle {
  height: 100%;
  position: absolute;
  width: 5px;
  top: 0;
  right: 0;
  transform: translate(0px, 0px)!important;
  cursor: col-resize;
}
.nav-handle-default {
  border-right: 5px solid var(--color-bg);
}
.nav-handle-active {
  border-right: 5px solid #62A2E4;
}