.table-wrap {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.resize-box {
  width: 100%;
  resize: vertical;
  overflow: auto;
  cursor: row-resize;
}
.ReactVirtualized__Table__Grid * {
  user-select: auto;
}
.ReactVirtualized__Grid:fus {
  outline: none; 
}
.ReactVirtualized__Table__headerRow {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
.ReactVirtualized__Table__headerColumn {
  height: 100%;
}
.ReactVirtualized__Table__headerTruncatedText {
  text-transform: none;
}
.table-header-cell {
  overflow: hidden;
  text-transform: none;
  height: 100%;
  position: relative;
}
.table-header-cell p {
  margin: 0;
}
.table-header-cell span {
  font-weight: normal;
  font-size: .85rem;
  color: var(--color-subtitle);
}
.handle {
  height: 100%;
  position: absolute;
  width: 5px;
  top: 0;
  right: 0;
  transform: translate(0px, 0px)!important;
  cursor: col-resize;
}
.handle-default {
  border-right: 1px solid var(--color-border);
}
.handle-active {
  border-right: 1px solid #62A2E4;
}
.file-header {
  float: left;
  text-align: center;
}
.number-cell {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.relativeModel {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}