.q-wrapper {
  flex: 1;
  flex-direction: column;
  display: flex;
  position: relative;
}
.q-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.q-input-wrapper > textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.handle-y {
  height: 3px;
  cursor: row-resize;
  transform: translate(0px, 0px)!important;
}
.resizeY {
  border-bottom: 5px solid var(--color-bg);
}
.resizeYActive {
  border-bottom: 5px solid #62A2E4;
}